.category {
    margin: 10px;
}

.changeButton {
    background-color: rgb(78, 4, 78);
    color: white;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
}