    .labelForm {
        width: max-content;
        border: none;
        margin-left: 10px;
    }

    .inputForm {
        width: 400px;
        border: none;
        border-bottom: 1px solid black;
        margin: 10px;
        font-size: 20px;
    }
